PORT=3000
BASE_URL=http://localhost:3000
LOG_LEVEL=info

DB_HOST=localhost
DB_PORT=27017
DB_NAME=ia_test
DB_USER=admin
DB_PASS=admin

HTTP_TIMEOUT=60000

UNLEASH_URL=http://localhost:4242/api
UNLEASH_APP_NAME=ia-test
UNLEASH_INSTANCE_ID=local-instance
UNLEASH_REFRESH_INTERVAL=15
UNLEASH_METRICS_INTERVAL=60
